  a { text-decoration: none; }
  a:visited { }
  a:hover { }
  a:focus {outline: thin dotted;}
  a:hover, a:active {outline: 0;}
  ::-moz-selection {background: $light-grey; color: $white; text-shadow: none;}
  ::selection {background: $light-grey; color: $white; text-shadow: none;}

  html, body {
    height: 100%;
    background: $light-background;
    -webkit-font-smoothing: antialiased;
    font-family: $main-font;
  }

  body {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    font-family: $main-font;
  }

  #wrapper {
    line-height: normal;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: $nav-height 0 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: auto;
  }

  nav {
    position: fixed;
    font-family: $main-font;
    top: 0px;
    width: 100%;
    z-index: 999;
    height: $nav-height;
    background: $white;
    letter-spacing: 0.04em;
    box-shadow: 0px 2px 0px rgba(100, 100, 100, 0.05);

    .logo {
      position: absolute;
      width: 80px;
      top: 20px;
      left: 40px;
    }
    
    a {
      color: $medium-text;
      font-size: $meta-text;
      line-height: 70px;
      display: inline-block;

      &.active {
        color: $orange;
        border-bottom: 2px solid $orange;
        line-height: 66px;
        margin: 4px 0 0 0;
      }

      &.planner-link {
        position: absolute;
        top: 2px;
        right: $big-margin;
        line-height: 66px;
        text-transform: uppercase;

        &.active { top: -2px; }
      }
    }

    .nav-options {
      margin: 0 0 0 200px;

      li {
        display: inline-block;
        margin: -18px $small-margin 0 $small-margin;
        line-height: $nav-height;
        text-transform: uppercase;
      }
    }
  }

  h1 {
    font-size: $title-text;
    color: $dark-text;
  }

  h2 {
    font-size: $body-text;
    color: $dark-text;
  }

  h3 {
    font-size: $body-text;
    color: $medium-text;
  }

  h4 {
    color: $medium-text;
    text-transform: uppercase;
    font-size: $uppercase-text;
    letter-spacing: 1px;

    &.section-title {
      display: block;
      margin: 9px 0 30px 0;
    }
  }

#sidebar {
  float: left;
  width: $sidebar-width;
  height: 100%;
  background: $white;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  overflow: hidden;
  overflow-y: auto;

  p { margin: 0 0 $small-margin 0; }

  #sidebar-content {
    position: relative;
    padding: $small-margin;

    h4 { display: inline-block; }

    form {
      width: 100%;
      font-size: 0;

      div { margin: 0 0 $big-margin 0; }

      h4 {
        position: absolute;
        margin: 10px 0 0 13px;
      }

      .price-slider {
        h4 {
          position: relative;
          margin: 0;
        }

        #slider-range { margin: $small-margin 0 10px 0; }

        input {
          margin: 0;
          padding: 0;
          border: 0;
          display: inline-block;
          width: 50%;

          &#amount-high { text-align: right; }
        }
      }

      input {
        width: 100%;
        padding: 30px 12px 10px 12px;
        font-family: $main-font;
        font-size: $body-text;
        color: $dark-text;
        @include border-radius(3px);
        @include border-box();
        border: 1px solid $light-grey;

        &.half {
          width: 50%;

          &.left {
            border-top: 1px solid $light-grey;
            border-right: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }

          &.right {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0; 
          }
        }

        &:focus { outline: none; }
      }
    }
  }

  .sidebar-cards {
    .sidebar-card {
      margin: 0 0 $small-margin/2 0;
      padding: $small-margin;
      background: $dark-card;
      box-shadow: $hard-shadow;
      @include border-radius($small-radius);

      .countdown {
        position: relative;
        margin: 0 0 $small-margin/2 0;
      }

      .date-container {
        width: 50px;
        height: 50px;
        margin: 0 $small-margin/2 0 0;
        text-align: center;
        color: $orange;
        display: inline-block;
        border: 1px solid $orange;
        @include border-radius(3px);
        
        .date {
          @include vertical-align(50%);
        }

        p {
          &:first-child {
            font-size: 20px;
            margin: 0;
          }

          &:last-child {
            font-size: $uppercase-text;
            letter-spacing: 1px;
          }
        }
      }

      .countdown-event {
        position: relative;
        top: 4px;
        display: inline-block;
      }
    }
  }
}

#main {
  height: calc(100% - 80px);
  padding: 0 0 0 $sidebar-width;

  #main-content {
    height: 100%;
    overflow-y: auto;
    padding: $big-margin;

    #mix-cards.cards .card, #planner-events.cards .card { display: none; }

    .cards {
      font-size: 0;
      margin: $big-margin 0;
      
      .card {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 260px;
        margin: 0 $small-margin $small-margin 0;
        background: $white;
        box-shadow: $hard-shadow;
        @include border-radius($small-radius);
        
        &:hover {
          cursor: pointer;
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
          @include hover-transition(all, 0.1s, ease-in-out);
        }

        .img-container {
          height: 180px;
          overflow: hidden;

          img {
            border-top-left-radius: $small-radius;
            border-top-right-radius: $small-radius;
            width: 100%;
            min-height: 180px;
          }
        }

        .price {
          position: absolute;
          top: 125px;
          left: $small-margin;
          z-index: 1;
          color: $white;
          font-size: 26px;
          font-weight: 700;
          text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
        }

        .bookmark {
          position: absolute;
          top: $small-margin;
          right: $small-margin;
          width: 0;
          height: 20px;
          border-right: 10px solid $white;
          border-left: 10px solid $white;
          border-bottom: 10px solid transparent;

          &:hover {
            border-right: 10px solid $orange;
          border-left: 10px solid $orange;
          cursor: pointer;
          }
        }
        
        .card-info {
          padding: 10px $small-margin 15px $small-margin;
          h2 { margin: 0 0 5px 0; }
        }
      }
    }
  }
}

.ghost-button {
  font-size: $meta-text;
  display: inline-block;
  padding: 7px 15px;
  border: 1px solid $light-grey;
  @include border-radius(3px);
  @include hover-transition(border, 0.1s, ease-in-out);

  &.right { 
    position: absolute;
    top: $small-margin;
    right: $small-margin;
  }

  &:hover {
    cursor: pointer;
    border: 1px solid $medium-text;
  }
}

.full-button {
  font-size: $meta-text;
  display: inline-block;
  padding: 10px 17px;
  background: $orange;
  color: $white;
  @include border-radius(3px);
  @include hover-transition(background, 0.1s, ease-in-out);

  &.right {
    position: absolute;
    right: $small-margin;
    margin: $small-margin 0 0 0;
  }

  &:hover {
    cursor: pointer;
    background: lighten($orange, 10%);
  }
}

#main-content footer{
  position: relative;
  display: inline-block;
  width: 100%;
  color: #aaa;

  p {
    font-size: $small-text;
    margin: 0 0 10px 0;
  }
}

footer a {
  font-size: $small-text;
  display: block;
  color: #888;

  &:hover {
    color: $dark-text;
  }
}

#main-content footer #copyright {
  font-size: 10px;
  color: #bbb;
  margin: 30px 0 20px 0;
}

#footer-content .left {
  margin: 0 8% 0 0;
  max-width: 370px;
}

#footer-content .right {
  max-width: 370px;
}

#footer-content .left, #footer-content .right {
  display: inline-block;
  vertical-align: top;
}

.wrapper-dropdown {
    position: relative;
    padding: 10px;
    font-size: 14px;
    margin: 10px 0 $big-margin 0;
    @include border-radius(3px);
    color: $dark-text;
    border: 1px solid $light-grey;
    cursor: pointer;
    outline: none;
    z-index: 998;

    &:after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -3px;
      border-width: 6px 6px 0 6px;
      border-style: solid;
      border-color: $light-grey transparent;
  }

  .dropdown {
  /* Size & position */
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    // @include hover-transition(all, 0.1s, ease-in);
    list-style: none;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

    li {
      a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: $dark-text;
        border-bottom: 1px solid #e6e8ea;
        // @include hover-transition(all, 0.1s, ease-out);
      }

      i {
        float: right;
        color: inherit;
      }

      &:first-of-type a {
        border-radius: 7px 7px 0 0;
      }

      &:last-of-type a {
        border: none;
        border-radius: 0 0 7px 7px;
      }

      &:hover a {
        background: $light-background;
      }
    }

    // &:after {
    //   content: "";
    //   width: 0;
    //   height: 0;
    //   position: absolute;
    //   bottom: 100%;
    //   right: 15px;
    //   border-width: 0 6px 6px 6px;
    //   border-style: solid;
    //   border-color: #fff transparent;    
    // }

    // &:before {
    //   content: "";
    //   width: 0;
    //   height: 0;
    //   position: absolute;
    //   bottom: 100%;
    //   right: 13px;
    //   border-width: 0 8px 8px 8px;
    //   border-style: solid;
    //   border-color: rgba(0,0,0,0.1) transparent;    
    // }
  }
}

.wrapper-dropdown.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown .dropdown,
.no-pointerevents .wrapper-dropdown .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown.active .dropdown,
.no-pointerevents .wrapper-dropdown.active .dropdown {
    display: block;
}


.wrapper-dropdown:focus .dropdown {
    opacity: 1;
    pointer-events: auto;
}
