$cell-height: 44px;
$cal-border: 1px solid transparent;

.noselect {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}

.cal1 {
  position: fixed;
  bottom: 0;
  width: $sidebar-width;
  padding: $small-margin 0;
  font-family: $main-font;
  font-size: $body-text;
  border-top: 4px solid $light-background;
  background: $white;

  .clndr {
    width: calc(100% - 40px);
    margin: 0 $small-margin;

    .clndr-controls {
      display: inline-block;
      width: 100%;
      position: relative;
      margin-bottom: 10px;
      height: 20px;

      .month {
        float: left;
        width: 70%;
        text-align: center;
        font-size: $uppercase-text;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 2px 0 0 0;
      }

      .clndr-control-button {
        float: left;
        text-align: center;
        width: 15%;
        font-family: $main-font;

        &.rightalign {
          text-align: center;
          width: 15%;
        }

        .clndr-next-button {
          cursor: pointer;
          -webkit-user-select: none;
          /* Chrome/Safari */
          -moz-user-select: none;
          /* Firefox */
          -ms-user-select: none;
          /* IE10+ */
        }
      }
    }
    .clndr-table {
      border-collapse: separate;

      tbody td {
        background-clip: padding-box;
        border-radius: 100px;
        height: 40px;
        -webkit-box-shadow: inset 0px 0px 0px 4px rgba(255,255,255,1);
-moz-box-shadow: inset 0px 0px 0px 4px rgba(255,255,255,1);
box-shadow: inset 0px 0px 0px 4px rgba(255,255,255,1);
      }
    }
  }
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover,
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button:hover {
  color: $medium-text;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive {
  opacity: 0.5;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {
  background: none;
  cursor: default;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive {
  opacity: 0.5;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover {
  background: none;
  cursor: default;
}
.cal1 .clndr .clndr-table {
  table-layout: fixed;
  width: 100%;
}
.cal1 .clndr .clndr-table .header-days {
  height: $cell-height;
  font-size: $meta-text;
  font-weight: 700;
  color: $dark-text;
}
.cal1 .clndr .clndr-table .header-days .header-day {
  vertical-align: middle;
  text-align: center;
  // border-left: $cal-border;
  // border-top: $cal-border;
}
.cal1 .clndr .clndr-table .header-days .header-day:last-child {
  // border-right: $cal-border;
}
.cal1 .clndr .clndr-table tr {
  height: $cell-height;
}
.cal1 .clndr .clndr-table tr td {
  vertical-align: top;
}
.cal1 .clndr .clndr-table tr .day {
  // border-left: $cal-border;
  // border-top: $cal-border;
  width: 100%;
  text-align: center;
}

.cal1 .clndr .clndr-table tr .day.today,
.cal1 .clndr .clndr-table tr .day.my-today {
  background: #9AD6E3;
}
.cal1 .clndr .clndr-table tr .day.today:hover,
.cal1 .clndr .clndr-table tr .day.my-today:hover {
  background: #72c6d8;
}
.cal1 .clndr .clndr-table tr .day.today.event,
.cal1 .clndr .clndr-table tr .day.my-today.event {
  background: $orange;
}
.cal1 .clndr .clndr-table tr .day.event,
.cal1 .clndr .clndr-table tr .day.my-event {
  background: rgba( $orange, .3 );
}
.cal1 .clndr .clndr-table tr .day:hover,
.cal1 .clndr .clndr-table tr .day.event:hover,
.cal1 .clndr .clndr-table tr .day.my-event:hover {
  background: $light-grey;
}
.cal1 .clndr .clndr-table tr .day.inactive,
.cal1 .clndr .clndr-table tr .day.my-inactive {
  background: #ddd;
}
.cal1 .clndr .clndr-table tr .day:last-child {
  // border-right: $cal-border;
}
.cal1 .clndr .clndr-table tr .day .day-contents {
  box-sizing: border-box;
  padding: 14px 0;
  font-size: $meta-text;
}
.cal1 .clndr .clndr-table tr .empty,
.cal1 .clndr .clndr-table tr .adjacent-month,
.cal1 .clndr .clndr-table tr .my-empty,
.cal1 .clndr .clndr-table tr .my-adjacent-month {
  // border-left: $cal-border;
  // border-top: $cal-border;
  width: 100%;
  background: rgba( $orange, .3 );
}
.cal1 .clndr .clndr-table tr .empty:hover,
.cal1 .clndr .clndr-table tr .adjacent-month:hover,
.cal1 .clndr .clndr-table tr .my-empty:hover,
.cal1 .clndr .clndr-table tr .my-adjacent-month:hover {
  background: $light-grey;
}
.cal1 .clndr .clndr-table tr .empty:last-child,
.cal1 .clndr .clndr-table tr .adjacent-month:last-child,
.cal1 .clndr .clndr-table tr .my-empty:last-child,
.cal1 .clndr .clndr-table tr .my-adjacent-month:last-child {
  // border-right: $cal-border;
}
.cal1 .clndr .clndr-table tr:last-child .day,
.cal1 .clndr .clndr-table tr:last-child .my-day {
  // border-bottom: $cal-border;
}
.cal1 .clndr .clndr-table tr:last-child .empty,
.cal1 .clndr .clndr-table tr:last-child .my-empty {
  // border-bottom: $cal-border;
}