#flights {
  #main #main-content {
    h1.heading {
      font-size: 18px;
      display: inline-block;
      margin: 0 20px 0 0;

      &:nth-child(2) { color: $light-grey; }
    }

    .subnav {
      position: relative;
      height: 45px;
      width: 100%;
      max-width: 820px;
      margin: $small-margin 0 0 0;
      padding: 0 0 2px 0;
      background: $white;
      box-shadow: $hard-shadow;
      @include border-radius($small-radius);

      li {
        display: inline-block;
        margin: 0 $small-margin;
        padding: 0 15px 0 0;
        color: $medium-text;
        font-size: $body-text;
        line-height: 45px;

        &:after {
          content: '';
          position: absolute;
          top: $small-margin;
          margin: 0 0 0 5px;
          width: 0;
          height: 0;
          opacity: 0.6;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid $medium-text;
        }

        &.active {
          color: $orange;
          border-bottom: 2px solid $orange;

          &:after {
            border-bottom: 5px solid $orange;
          }
        }

        &:hover { cursor: pointer; }
      }
    }

    .flight.cards .flight.card {
      width: 100%;
      max-width: 820px;

      .card-content {
        padding: 14px $small-margin $small-margin $small-margin;

        div {
          display: inline-block;

          &.airline {
            width: 135px;
          }

          &.departure, &.arrival {
            width: 180px;
          }

          &.layover {
            width: 110px;
          }

          h1 {
            font-weight: 700;
            line-height: 32px;
          }

          h4:last-child { color: $dark-text; }

          .price {
            position: relative;
            top: 0;
            left: 0;
            color: $orange;
            text-shadow: none;
            font-weight: 400;
            font-size: 40px;
            letter-spacing: -2px;
          }

          &.price {
            float: right;
          }

          &:last-child {
            border-left: 1px solid $light-grey;
            padding: 0 0 0 $big-margin;
            margin: 0;
          }
        }
      }
    }
  }
}