#planner {
  #sidebar {
    float: left;
    width: $sidebar-width;
    height: 100%;
    margin: 0;

    #sidebar-content {
      height: calc(100% - 342px);
      overflow: auto;

      .sidebar-cards .sidebar-card {
        &:hover { cursor: pointer; }
        &.active {
          box-shadow: 0 0 0 2pt $orange;
        }
        .countdown-event { top: 0; }
      }
    }
  }

  #main-content {
    #planner-countdowns .mix {
      display: none;

      span { color: $medium-text; }
    }
  }
}