#planner {
  #sidebar {
    float: left;
    width: $sidebar-width;
    height: 100%;
    margin: 0;

    #sidebar-content {
      height: calc(100% - 346px);
      overflow: auto;

      .sidebar-cards .sidebar-card {
        &:hover { cursor: pointer; }
        &.active {
          box-shadow: 0 0 0 2pt $orange;
        }
        .countdown-event { top: 0; }
      }

      h4.section-title {
        margin: 9px 0 30px 0;
      }
    }
  }

  #main-content {
    #planner-countdowns .mix { display: none; }
  }
}