// Font family
$main-font: 'jaf-facitweb', Helvetica Neue, Helvetica, sans-serif;

// Margin padding
$small-margin: 20px;
$big-margin: 40px;
$input-padding: 8px 16px;

// Widths
$sidebar-width: 350px;

// Heights
$button-height: 36px;
$nav-height: 70px;

// Radius
$small-radius: 3px;
$big-radius: 100px;

// Font sizes
$title-text: 16px;
$uppercase-text: 11px;
$meta-text: 12px;
$body-text: 14px;

// Font weights
$regular-weight: 400;
$bold-weight: 600;

// Colors 
$red: #ff4e00;
$red-hover: #ff631e;

$dark-text: #232323;
$medium-text: #999;
$light-grey: #ddd;
$background: #f2f2f2;
$background-hover: #f9f9f9;
$white: #fff;