// Font family
$main-font: 'jaf-facitweb', Helvetica Neue, Helvetica, sans-serif;

// Margin padding
$small-margin: 20px;
$big-margin: 40px;
$input-padding: 8px 16px;

// Widths
$sidebar-width: 350px;
$overlay-side-width: 300px;
$overlay-width: 550px;

// Heights
$button-height: 36px;
$nav-height: 70px;

// Radius
$small-radius: 3px;
$big-radius: 100px;

// Font sizes
$title-text: 16px;
$uppercase-text: 11px;
$meta-text: 12px;
$body-text: 14px;
$small-text: 10px;

// Font weights
$regular-weight: 400;
$bold-weight: 600;

// Colors 
$orange: #ff8710;
$orange-hover: #ff8710;
$blue: #262F40;

$black: #232323;
$dark-text: #444;
$medium-text: #999;
$light-grey: #ddd;
$background: #f2f2f2;
$light-background: #f9f9f9;
$white: #fff;


$dark-card: #f3f3f3;
$hard-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);