@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,figcaption,figure,
footer,nav,hgroup,menu,nav,output,ruby,section,summary,
time,mark,audio,video {margin: 0; padding: 0; border: 0; vertical-align: baseline; font: inherit; font-size: 100%;}
article,aside,details,figcaption,figure,footer,nav,hgroup,menu,nav,section {display: block;}
body {line-height: 1;}
ol,ul {list-style: none;}
blockquote,q {quotes: none;}
blockquote:before,blockquote:after,q:before,q:after {content: ""; content: none;}
table { border-spacing: 0;border-collapse: collapse;}

  a { text-decoration: none; color: #232323; }
  a:visited { }
  a:hover { }
  a:focus {outline: thin dotted;}
  a:hover, a:active {outline: 0;}
  ::-moz-selection {background: #aaa; color: #fff; text-shadow: none;}
  ::selection {background: #aaa; color: #fff; text-shadow: none;}

  html, body {
    height: 100%;
    background: #f3f4f0;
    -webkit-font-smoothing: antialiased;
  }

  body {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    font-family: 'jaf-facitweb', Helvetica, sans-serif;
  }

  #wrapper {
    line-height: normal;
    width: 100%;
    height: 100%;
    color: #f6f6f6;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 70px 0 0 0;
    overflow-x: auto;
  }

  nav {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 70px;
    background: white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);

    .logo {
      position: absolute;
      width: 80px;
      top: 20px;
      left: 40px;
    }

    .nav-options {
      text-align: center;

      li {
        display: inline-block;
        margin: 0 20px;
        line-height: 70px;
        text-transform: uppercase;
      }
    }

    .planner-link {
      position: absolute;
      top: 0px;
      right: 40px;
      line-height: 70px;
      text-transform: uppercase;
    }
  }

  h1 {
    font-size: 60px;
  }
  h4 {
    font-size: 16px;
    color: #777;
    margin: 0 0 15px 0;
    letter-spacing: 1px;
  }

  p, a {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }

  p.last, a.last {
    margin: 0 0 30px 0;
  }

#sidebar {
  float: left;
  width: 350px;
  height: 100%;
  background: #f9f9f9;
  color: red;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  overflow: hidden;
  overflow-y: scroll;

  #user-image {
    position: fixed;
    top: 70px;
  }
}

#main {
  height: 100%;
  padding: 0 0 0 350px;

  #main-content {
    height: 100%;
    overflow-y: auto;
  }
}

#main-content footer{
  position: relative;
  display: inline-block;
  width: 100%;
  color: #aaa;
}

footer a {
  color: #888;
}

#main-content footer #copyright {
  font-size: 10px;
  color: #bbb;
  margin: 30px 0 20px 0;
}

#footer-content {
  border-top: 1px solid #e7e7e7;
  padding: 50px 0 0 60px;
}

#footer-content .left {
  margin: 0 8% 0 0;
  max-width: 270px;
}

#footer-content .right {
  min-width: 400px;
}

#footer-content .left, #footer-content .right {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  }

/*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #444;
}

::-webkit-scrollbar-thumb {
  background: #666;
}

::-webkit-scrollbar-thumb:window-inactive {
}*/


/* Media Queries */

  /* Bigger than 960 */
  @media only screen and (min-width: 1300px) {
  }

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {
  }

  /* All Mobile Sizes (devices and browser)
  @media only screen and (max-width: 767px) { }*/

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (max-width: 767px) {
  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {

  }
